body {
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 44em;
    color: black;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 100%;
    line-height: 140%;
	/*text-align: justify;*/
}
pre {
    border: 1px dotted gray;
    background-color: #ececec;
    color: #1111111;
    padding: 0.5em;
}
a.footnoteRef {
	color:rgb(0,120,0);
}
p > a, li > a {
	color:rgb(0,120,0);
	font-weight:bold;
	text-decoration:none;
	border-bottom:1px dotted rgb(0,120,0);
}
div#TOC {
	background-color:rgb(240,240,240);
}
div#TOC a {
	font-weight:normal;
	color:rgb(50,50,50);
	text-decoration:underline;
	border:0px;
}
div#TOC > ul > li > a {
	font-weight:bold;
}
code {
    font-family: monospace;
}
li > code, p > code, em > code {
	background-color:rgb(240,240,240);
	color:rgb(0,0,0);
	padding:0px 3px;
	font-weight:bold;
}
h1 a, h2 a, h3 a, h4 a, h5 a { 
    text-decoration: none;
    color: rgb(0,120,0);
}
h2 a, h3 a, h4 a, h5 a { 
	color: rgb(50,50,50);
}
h3 a {
	color: rgb(74,110,158);
}
h1, h2, h3, h4, h5 { 
	font-weight: bold;
	color: rgb(0,120,0);
}
h1, h3 {
	border-bottom: 1px solid rgb(180,180,180);
}
h1 {
	font-size: 190%;
}

h2 {
	font-size: 170%;
}

h3 {
	font-size: 145%;
}

h4 {
	font-size: 130%;
}

h5 {
	font-size: 110%;
	font-style: italic;
}

h1.title {
	font-size: 200%;
	font-weight: bold;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	text-align: left;
	border: none;
}

ul > li > ul > li > ul > li .toc-section-number {
	display:none;
}

h3 .header-section-number, h4 .header-section-number, h5 .header-section-number, h6 .header-section-number {
	display:none;
}

em {
	color:rgb(74,110,158);
}

div.figure {
	margin-left:25px;
	display:inline-block;
	border:1px solid rgb(200,200,200);
}

div.figure > img {
	padding:10px;
}

div.figure > p {
	border-top:1px solid rgb(200,200,200);
	background-color:rgb(245,245,245);
	text-align:left;
	font-style:italic;
	margin:0px;
	padding:5px;
}

dt code {
	font-weight: bold;
}
dd p {
	margin-top: 0;
}
#footer {
	padding-top: 1em;
	font-size: 70%;
	color: gray;
	text-align: center;
}
